body{
    background-color:rgb(241, 251, 255);
}
.header{
    width: 1280px;
    position: fixed;
    top: 0px;
    bottom: 0px;
}
/* kode css navigator */
ul{
    list-style: none;
    background-color: rgb(241, 251, 255);
    padding: 0px 0px;
    margin: 120px 0px;
    position: fixed;
    width: 1280px;
    height: 70px;
}
ul li{
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}
ul li a{
    padding: 10px 0px;
    text-align: center;
}
ul a:hover{
    background-color: bisque;
}
/* kode css dropdown */
ul li ul.dropdown{
    background-color: gainsboro;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}
ul li:hover ul.dropdown{
    display: block;
}

/* kode css side bar */
.test{
    display: flexbox;
}
.column{
    float: left;
    padding: 0px 14px;
}
/* LEFT COLUMN */
.column.side{
    margin: 20px 4px;
    margin-right: 6px;
    width: 200px;
    height: 400px;
    background-color: rgb(241, 251, 255);
    align-items: center;
    padding: 10px;
}
.column.side2{
    margin: 15px 4px;
    margin-right: 6px;
    width: 250px;
    height: 870px;
    background-color: rgb(251, 255, 197);
    align-items: center;
    padding: 10px;
}
.column.side3{
    margin: 15px 4px;
    margin-right: 6px;
    width: 250px;
    height: 350px;
    background-color: rgb(251, 255, 197);
    align-items: center;
    padding: 10px;
}
.column.middle{
    margin: 20px 0px;
    padding-bottom: 40px;
    width: 950px;
    height: 600px;
    background-color:rgb(241, 251, 255);
    color: #000000;
    text-align: justify;
}
.column.middle2{
    margin: 0px 0px;
    width: 880px;
    height: 400px;
    background-color:rgb(241, 251, 255);
    color: #000000;
    text-align: justify;
}
.content{
    padding-top: 180px;
    margin-left: 7px;
}
.poin{
    list-style-type: decimal;
}
.indo{
    list-style-type: none;
}
.rakyat{
    list-style-type: none;
}
.kaitan{
    list-style-type: none;
    padding-left: 20px;
}
.relevan{
    list-style-type: none;
    font-weight: 700;
}
.studi{
    list-style-type: square;
    padding-left: 20px;
}
.dukung{
    list-style-type: none;
}